/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-tab-panel-ui(
$ui: 'navigation',
$ui-tab-background-color: transparent,
$ui-tab-background-color-over: #505050,
$ui-tab-background-color-active: #303030,
$ui-tab-background-gradient: 'none',
$ui-tab-background-gradient-over: 'none',
$ui-tab-background-gradient-active: 'none',
$ui-tab-color: #acacac,
$ui-tab-color-over: #c4c4c4,
$ui-tab-color-active: #fff,
$ui-tab-glyph-color: #acacac,
$ui-tab-glyph-color-over: #c4c4c4,
$ui-tab-glyph-color-active: #fff,
$ui-tab-glyph-opacity: 1,
$ui-tab-border-radius: 0,
$ui-tab-border-width: 0,
$ui-tab-inner-border-width: 0,
$ui-tab-padding: 24px,
$ui-tab-margin: 0,
$ui-tab-font-size: 15px,
$ui-tab-font-size-over: 15px,
$ui-tab-font-size-active: 15px,
$ui-tab-line-height: 19px,
$ui-tab-font-weight: bold,
$ui-tab-font-weight-over: bold,
$ui-tab-font-weight-active: bold,
$ui-tab-icon-width: 24px,
$ui-tab-icon-height: 24px,
$ui-tab-icon-spacing: 5px,
$ui-bar-background-color: #404040,
$ui-bar-background-gradient: 'none',
$ui-bar-padding: 0,
$ui-strip-height: 0
);

/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
$ui: 'navigation',
$ui-header-color: #fff,
$ui-header-glyph-color: #fff,
$ui-header-glyph-opacity: 1,
$ui-header-font-size: 20px,
$ui-header-line-height: 24px,
$ui-header-font-weight: bold,
$ui-header-icon-height: 24px,
$ui-header-icon-width: 24px,
$ui-header-icon-spacing: 15px,
$ui-header-background-color: $base-color,
$ui-header-padding: 0,
$ui-header-text-margin: 36px,
$ui-header-noborder-adjust: false
);
.main-wrapper .x-btn-default-small {
    background: #35baf6;
    border-color: #35baf6;
}
.main-wrapper .x-btn-default-small:hover, 
.main-wrapper .x-btn-default-small:focus {
    border-color: #38C0FF;
    background-color: #38C0FF;
}
.main-wrapper .x-window-header-default {
    background: #35baf6;
    border-color: #35baf6;
}
.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}
.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}
.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

.x-tab-focus.x-tab-navigation {
    outline: none;    
}
.x-tab-text.x-tab-icon-left > .x-tab-icon-el-navigation {
    margin-right: 10px;
}
.x-tab-bar-navigation {
    background-color: #32404e;
}
.x-tab.x-tab-active.x-tab-navigation {  
    background-color: #475360;
    border-left: 5px solid #35baf6; //cc3232
}
.x-tab-icon-el-navigation {
    font-size: 18px;
}
.x-tab-inner-navigation {
    font-weight: normal;
    font-size: 14px;
}
.x-panel-header-title-navigation {
    top: 0px !important;
    left: 0px !important;
}
.x-panel-header-title-navigation .logo {
    width: 270px;        
}
.x-tab-navigation:hover {
    background-color: #3c4a57 !important;    
}
.x-form-item-body-default .x-toolbar-default {
    border-bottom: 1px solid #d0d0d0 !important;
    z-index: 1;
}
.x-form-item-body-default .x-component.x-html-editor-input.x-box-item.x-component-default {
    padding: 10px;
}
#send {    
    border: 1px solid #84b351;    
    background-color: #9cc96b;
}
#discard {
    border: 1px solid #cf2f3f;    
    background-color: #e44959;
}
.write-btn span {
    color: #ffffff !important;    
}
#discard:hover {
    background-color: #d24352;
}
#send:hover {
    background-color: #90b962;
}
.x-window-header-title-default > .x-title-text-default:after {
    display: none !important;
}
.x-panel-header-title-default-framed > .x-title-text-default-framed:after,
.x-panel-header-title-default > .x-title-text-default:after  {
    display: none !important;
}
.x-panel-header-default-framed,
.x-panel-default-framed {
    border: 1px solid #32404e !important;    
}
.x-panel-header-default-framed-top {
    background-color: #32404e !important;
}
.btn-save {
    border: 1px solid #35baf6;
    background-color: #35baf6;
}
.btn-save:hover {
    border-color: #38C0FF;
    background-color: #38C0FF;
}
.profile-form .btn-save {
    float: right;
}
.x-panel-header-default {
    border: 2px solid #32404e !important;    
    background-color: #32404e !important;
}
.x-grid-body {
    border-width: 1px 1px 1px;
}
.x-webkit .x-form-text {
    height: 100% !important;
    line-height: 100% !important;
}
.x-webkit .x-form-text.x-form-focus.x-field-form-focus {
    height: 100% !important;
    line-height: 100% !important;
}
.login-form {
    overflow: hidden;
    box-shadow: -3px 27px 58px #ffffff;
    -moz-box-shadow: -3px 27px 58px #ffffff;
    -webkit-box-shadow: -3px 27px 58px #ffffff;
    border: none;
}
.login-form .x-window-header-default-top {
    background-color: #ffffff;
    border: none;
}
.login-bottom .x-btn-default-toolbar-small {
    background-color: #35baf6;
}
.login-bottom .x-btn-inner-default-toolbar-small {
    color: #ffffff;
    border-color: #31ade5;
}
.login-bottom .x-btn-inner-default-toolbar-small.x-btn-over {
    background-color: #35baf6;
}
.login-bottom .x-btn.x-btn-pressed.x-btn-default-toolbar-small {
    background-color: #35baf6 !important;
    color: #ffffff;
    border-color: #31ade5;
}
.login-bg {    
    position: absolute !important;
    border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
}
.login-bg .x-panel-body-default {
    background: url('../../../../../resources/images/background/bg.jpg') no-repeat center 30% !important;
    background-size: cover !important;
}
.line-or .x-panel-header-default-horizontal.x-header-noborder {
    padding: 0;    
}
.line-or .x-panel-header-title-default > .x-title-text-default {
    text-align: center;    
    font-size: 13px;
    line-height: 11px;
    color: transparent;
}
.line-or .x-panel-header-default {
    border: none !important;
    background: url('../../../../../resources/images/background/line-or.jpg') no-repeat center center !important;
}
.btn-save.btn-save-login {
    border: 1px solid #90c258;
    background-color: #9cc96b;
}
.btn-save.btn-save-login:hover {
    border-color: #84b351;
    background-color: #90b962;
}
.btn-save.btn-save-face {
    border: 1px solid #136ba5;
    background-color: #167abc;
}
.btn-save.btn-save-face:hover {
    border-color: #126398;
    background-color: #1470ad;
}
.btn-save.btn-create-account {
    border: 1px solid #878788;
    background-color: #949495;
}
.btn-save.btn-create-account:hover {
    border-color: #7c7c7d;
    background-color: #888889;
}
.x-btn-inner-default-small {
    font: 400 13px/16px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
}
.login-form .x-btn-inner-default-small {
    font: 500 14px/34px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
}
.login-form .x-form-text-default {
    height: 100% !important;
    line-height: 100% !important;
    padding: 0px 10px !important;
    font: 300 14px/21px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
}
.fa-angle-right:before,
.fa-facebook-f:before, 
.fa-facebook:before,
.fa-user-plus:before,
.fa-angle-left:before {
    font-family: FontAwesome !important;    
}
.login-form .fa-angle-right:before,
.login-form .fa-facebook-f:before, 
.login-form .fa-facebook:before,
.login-form .fa-user-plus:before,
.login-form .fa-angle-left:before {
    font-size: 24px !important;    
    position: absolute !important;    
    right: 10px !important;    
    top: 10px !important;    
}
.login-form .x-window-header-default-top .x-title-text.x-title-text-default.x-title-item {
    color: #404040 !important;
    opacity: 0.85 !important;
    line-height: 40px !important;
    padding-left: 10px !important;
}
.mark-color {
    position: absolute;    
    background: #38c0ff;    
    width: 12px;    
    height: 12px;    
    display: block;    
    left: 0px;    
    top: 50%;
    margin-top: -6px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    box-shadow: 0px 0px 10px #ffffff;
    -moz-box-shadow: 0px 0px 10px #ffffff;
    -webkit-box-shadow: 0px 0px 10px #ffffff;
}
.title-panel {
    margin-left: 20px;
}
.x-progress-default .x-progress-bar-default {
    background: #35baf6 !important;
}
.border-zero {
    border: none !important;
}
.x-component, .x-container {
    position: inherit !important;
}
.avatar-wrapper {
    overflow: hidden;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.profile-avatar {
    height: 100px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: 0px 0px 6px;
    -moz-box-shadow: 0px 0px 6px;
    -webkit-box-shadow: 0px 0px 6px;
    border: 1px solid #ffffff;
    margin: 0 auto;
}
  